# --- Build directories ---
Debug/
Release/
build/
out/
old_client_serveur/

# Fichiers objets et binaires
*.o
*.d
*.a
*.so
*.exe
*.sqbpro
*.csv
*.png

# Makefiles générés automatiquement
**/makefile
**/sources.mk
**/subdir.mk

# --- Autres ---
.metadata/
.project
.cproject
.settings/
.idea
CMakeLists.txt

# --- CoppeliaSim scene files ---
*.ttt
